.font-family-serif{
    font-family: gt-super, Georgia, Cambria, "Times New Roman", Times, serif;;
}
.font-size-60{
    font-size: 60px;
}
.border-radius-99px{
    border-radius: 99px;
}
.border-solid{
    border-style: solid;
}